src/main/castor/report-spec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="chart-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="area"/>
      <xs:enumeration value="bar"/>
      <xs:enumeration value="line"/>
      <xs:enumeration value="pie"/>
      <xs:enumeration value="pie-multi"/>
      <xs:enumeration value="ring"/>
      <xs:enumeration value="waterfall"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="legend-location">
    <xs:restriction base="xs:token">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="series">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="series-name" type="xs:string" maxOccurs="1"/>
      </xs:sequence>   
      <xs:attribute name="series-color" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="chart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="series" />
        <xs:element name="values-column" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="chart-type" default="bar"/>
      <xs:attribute name="category-column" type="xs:string"/>
      <xs:attribute name="group" type="xs:string"/>
      <xs:attribute name="reset-group" type="xs:string"/>
      <xs:attribute name="title" type="xs:string" default="Chart Title"/>
      <xs:attribute name="background-color" type="xs:string" default="#FFFFFF"/>
      <xs:attribute name="is-three-dimensional" type="xs:boolean" default="true"/>
      <xs:attribute name="is-stacked" type="xs:boolean" default="false"/>
      <xs:attribute name="is-summary-only" type="xs:boolean" default="false"/>
      <xs:attribute name="show-legend" type="xs:boolean" default="true"/>
      <xs:attribute name="draw-legend-border" type="xs:boolean" default="true"/>
      <xs:attribute name="legend-location" type="legend-location" default="bottom"/>
      <xs:attribute name="label-rotation" type="xs:int" default="7"/>
      <xs:attribute name="show-border" type="xs:boolean" default="false"/>
      <xs:attribute name="is-horizontal" type="xs:boolean" default="false"/>
      <xs:attribute name="height" type="xs:int" default="400"/>
      <xs:attribute name="width" type="xs:int" default="600"/>
      <xs:attribute name="horizontal-offset" type="xs:int" default="0"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="chart" minOccurs="0" maxOccurs="1"/>
        <xs:element name="calculated-columns" minOccurs="0" maxOccurs="unbounded" type="xs:string"></xs:element>
      </xs:sequence>
      
      <xs:attribute name="use-chart" type="xs:boolean" default="false" />
      <xs:attribute name="show-chart-above-group-header" type="xs:boolean" default="false" />

      <xs:attribute name="is-calculated-column" type="xs:boolean" default="false" />
      <xs:attribute name="calculated-column-function" type="xs:string" default="sum"/>
      <xs:attribute name="is-detail" type="xs:boolean" default="true" />
      <xs:attribute name="is-row-header" type="xs:boolean" default="false" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="level-name" type="xs:string" />
      <xs:attribute name="create-group-header" type="xs:boolean" default="true"/>
      <xs:attribute name="display-name" type="xs:string" />
      <xs:attribute name="null-string" type="xs:string" default="-"/>
      <xs:attribute name="width" type="xs:decimal" default="15"/>
      <xs:attribute name="width-locked" type="xs:boolean" default="false" />
      <xs:attribute name="is-width-percent" type="xs:boolean" default="true" />
      <xs:attribute name="horizontal-alignment" type="xs:string" default="center" />
      <xs:attribute name="vertical-alignment" type="xs:string" default="middle" />
      <xs:attribute name="type" type="xs:int" default="12" />
      <xs:attribute name="format" type="xs:string" default="" />
      <xs:attribute name="expression" type="xs:string" default="none" />
      <xs:attribute name="use-item-hide" type="xs:boolean" default="false" />
      <xs:attribute name="calculate-group-totals" type="xs:boolean" default="true" />
      <xs:attribute name="group-totals-label" type="xs:string" default="Total"></xs:attribute>
      <xs:attribute name="group-totals-horizontal-alignment" type="xs:string" default="left"></xs:attribute>
      <xs:attribute name="font-name" type="xs:string"/>
      <xs:attribute name="font-style" type="xs:int" default="-1"/>
      <xs:attribute name="font-size" type="xs:int" default="-1"/>
      <xs:attribute name="font-color" type="xs:string"/>
      <xs:attribute name="background-color" type="xs:string" default="#FFFFFF" />
      <xs:attribute name="use-background-color" type="xs:boolean" default="false" />
      <xs:attribute name="group-footer-background-color" type="xs:string" default="#c0d0e0" />
      <xs:attribute name="use-group-footer-background-color" type="xs:boolean" default="true" />
      <!-- deprecated: group-page-break, page-break-before-group, page-break-after-group  -->
      <xs:attribute name="group-page-break" type="xs:boolean" />
      <xs:attribute name="page-break-before-group" type="xs:boolean" />
      <xs:attribute name="page-break-after-group" type="xs:boolean" />
      <!--  end deprecation -->
      <xs:attribute name="page-break-before-header" type="xs:boolean" default="false" />
      <xs:attribute name="page-break-after-header" type="xs:boolean" default="false" />
      <xs:attribute name="page-break-before-footer" type="xs:boolean" default="false" />
      <xs:attribute name="page-break-after-footer" type="xs:boolean" default="false" />
      <xs:attribute name="repeat-group-header" type="xs:boolean" default="false" />
      <xs:attribute name="use-traffic-lighting" type="xs:boolean" default="false" />
      <xs:attribute name="traffic-lighting-use-absolute-value" type="xs:boolean" default="false" />
      <xs:attribute name="traffic-lighting-use-opposite-logic" type="xs:boolean" default="false" />
      <xs:attribute name="traffic-lighting-red-color" type="xs:string" default="#FF0000" />
      <xs:attribute name="traffic-lighting-yellow-color" type="xs:string" default="#FFFF00" />
      <xs:attribute name="traffic-lighting-green-color" type="xs:string" default="#00FF00" />
      <xs:attribute name="traffic-lighting-red-value" type="xs:double" default="250000" />
      <xs:attribute name="traffic-lighting-yellow-value" type="xs:double" default="500000" />
      <xs:attribute name="traffic-lighting-green-value" type="xs:double" default="750000" />
    </xs:complexType>
  </xs:element>

  <xs:element name="watermark">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" default="watermark" />
      <xs:attribute name="src" type="xs:string" use="required" />
      <xs:attribute name="x" type="xs:int" />
      <xs:attribute name="y" type="xs:int" />
      <xs:attribute name="width" type="xs:int" default="100" />
      <xs:attribute name="height" type="xs:int" default="100" />
      <xs:attribute name="scale" type="xs:boolean" default="true" />
      <xs:attribute name="keep-aspect-ratio" type="xs:boolean" default="true" />
      <xs:attribute name="use-watermark" type="xs:boolean" default="true" />
    </xs:complexType>
  </xs:element>

  <xs:element name="field-mapping">
    <xs:complexType>
      <xs:attribute name="key" type="xs:string" />
      <xs:attribute name="value" type="xs:string" />
      <xs:attribute name="type" type="xs:string" default="label"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="report-spec">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="xquery-url" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
          <xs:element name="jndi-source" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
          <xs:element name="kettle-url" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
        </xs:choice>

        <xs:element ref="chart" minOccurs="0" maxOccurs="1"/>
        <xs:element name="use-chart" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" ></xs:element>

        <xs:element name="report-name" type="xs:string" default="JFreeReport-WizardReport"></xs:element>
        <xs:element name="report-desc" type="xs:string" default="Description"></xs:element>

        <xs:element name="isMQL" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="xmi-path" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>

        <xs:element name="isMDX" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="mondrian-cube-definition-path" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>

        <xs:element name="kettle-step" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>

        <xs:element name="query" type="xs:string" minOccurs="0" maxOccurs="1" default=""></xs:element>
        <xs:element name="mql-query" type="xs:string" minOccurs="0" maxOccurs="1" default=""></xs:element>

        <xs:element name="include-src" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
        <xs:element name="template-src" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>

        <xs:element ref="field-mapping" minOccurs="0" maxOccurs="unbounded"></xs:element>

        <xs:element ref="watermark" minOccurs="0" maxOccurs="1"></xs:element>

        <xs:element name="page-format" type="xs:string" minOccurs="0" maxOccurs="1" default="LETTER"></xs:element>
        <xs:element name="use-custom-page-format" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="custom-page-format-width" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
        <xs:element name="custom-page-format-height" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
        <xs:element name="orientation" type="xs:string" minOccurs="0" maxOccurs="1" default="landscape"></xs:element>

        <xs:element name="use-row-banding" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>
        <xs:element name="row-banding-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#E0E0E0"></xs:element>
        <xs:element name="row-banding-initial-state" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>

        <xs:element name="use-expression-underlining" type="xs:boolean" minOccurs="0" maxOccurs="1"></xs:element>
        <xs:element name="double-underline-expression" type="xs:boolean" minOccurs="0" maxOccurs="1"></xs:element>

        <xs:element name="use-master-detail" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="use-master-detail-gridlines" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>
        <xs:element name="use-master-detail-banding" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>

        <xs:element name="generate-report-level-column-headers" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="use-column-header-background-color" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>
        <xs:element name="column-header-background-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#C0C0C0"></xs:element>
        <xs:element name="column-header-height" type="xs:int" minOccurs="0" maxOccurs="1" default="18"></xs:element>

        <xs:element name="calculate-grand-totals" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>
        <xs:element name="grand-totals-label" type="xs:string" minOccurs="0" maxOccurs="1" default="Grand Total"></xs:element>
        <xs:element name="grand-totals-horizontal-alignment" type="xs:string" minOccurs="0" maxOccurs="1" default="left"></xs:element>
        <xs:element name="use-dummy-group-footer-background-color" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"></xs:element>
        <xs:element name="dummy-group-footer-background-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#e0d0c0"></xs:element>

        <xs:element name="use-horizontal-gridlines" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="use-vertical-gridlines" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"></xs:element>
        <xs:element name="horizontal-gridlines-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000"></xs:element>
        <xs:element name="vertical-gridlines-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000"></xs:element>

        <xs:element name="group-header-font-name" type="xs:string" minOccurs="0" maxOccurs="1" default="SansSerif" />
        <xs:element name="group-header-font-style" type="xs:int" minOccurs="0" maxOccurs="1" default="1" />
        <xs:element name="group-header-font-size" type="xs:int" minOccurs="0" maxOccurs="1" default="11" />
        <xs:element name="group-header-font-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000" />

        <xs:element name="group-footer-font-name" type="xs:string" minOccurs="0" maxOccurs="1" default="SansSerif" />
        <xs:element name="group-footer-font-style" type="xs:int" minOccurs="0" maxOccurs="1" default="1" />
        <xs:element name="group-footer-font-size" type="xs:int" minOccurs="0" maxOccurs="1" default="11" />
        <xs:element name="group-footer-font-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000" />

        <xs:element name="column-header-font-name" type="xs:string" minOccurs="0" maxOccurs="1" default="SansSerif" />
        <xs:element name="column-header-font-style" type="xs:int" minOccurs="0" maxOccurs="1" default="1" />
        <xs:element name="column-header-font-size" type="xs:int" minOccurs="0" maxOccurs="1" default="12" />
        <xs:element name="column-header-font-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000" />

        <xs:element name="column-header-gap" type="xs:int" minOccurs="0" maxOccurs="1" default="2" />
        <xs:element name="column-header-top-gap" type="xs:int" minOccurs="0" maxOccurs="1" default="2" />

        <xs:element name="items-font-name" type="xs:string" minOccurs="0" maxOccurs="1" default="SansSerif" />
        <xs:element name="items-font-style" type="xs:int" minOccurs="0" maxOccurs="1" default="1" />
        <xs:element name="items-font-size" type="xs:int" minOccurs="0" maxOccurs="1" default="9" />
        <xs:element name="items-font-color" type="xs:string" minOccurs="0" maxOccurs="1" default="#000000" />

        <xs:element name="horizontal-offset" type="xs:int" minOccurs="0" maxOccurs="1" default="0"></xs:element>
        
        <xs:element name="left-margin" type="xs:int" minOccurs="0" maxOccurs="1" default="10"></xs:element>
        <xs:element name="right-margin" type="xs:int" minOccurs="0" maxOccurs="1" default="10"></xs:element>
        <xs:element name="top-margin" type="xs:int" minOccurs="0" maxOccurs="1" default="10"></xs:element>
        <xs:element name="bottom-margin" type="xs:int" minOccurs="0" maxOccurs="1" default="10"></xs:element>

        <xs:element minOccurs="0" maxOccurs="unbounded" ref="field" />
      </xs:sequence>
      <xs:attribute name="tool" type="xs:string" />
      <xs:attribute name="tool-version" type="xs:string" />
      <xs:attribute name="template-name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>